akregatorrc
arkrc
autostart/*
baloofileinformationrc
baloofilerc
bluedevilglobalrc
breezerc
dconf/*
discoverrc
dolphinrc
fontconfig/*
gtk-3.0/*
gtk-4.0/*
gtkrc
gtkrc-2.0
htop/*
kactivitymanagerdrc
kactivitymanagerd-statsrc
kateschemarc
kcmfonts
kcminputrc
kconf_updaterc
KDE/*
kded5rc
kdedefaults/*
kdeglobals
kde.org/*
kfontinstuirc
kgammarc
kglobalshortcutsrc
khotkeysrc
kmixrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/*
matplotlib/*
plasma.emojierrc
plasma-localerc
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
plasma-welcomerc
plasma-workspace/*
powermanagementprofilesrc
pulse/*
session/*
systemsettingsrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xsettingsd/*
yay/*
